In [37]:
import json
import random
from datetime import datetime, timedelta
import pandas as pd
from collections import deque
import numpy as np

In [38]:
data_weather = pd.read_csv(r"D:\Đồ án\KLTN\Backend\data\data\weather.csv")

In [39]:
data_weather.head()

   province  max  min  wind wind_d  rain  humidi  cloud  pressure        date
0  Bac Lieu   27   22    17    NNE   6.9      90     71      1010  2009-01-01
1  Bac Lieu   31   25    20    ENE   0.0      64     24      1010  2010-01-01
2  Bac Lieu   29   24    14      E   0.0      75     45      1008  2011-01-01
3  Bac Lieu   30   24    30      E   0.0      79     52      1012  2012-01-01
4  Bac Lieu   31   25    20    ENE   0.0      70     24      1010  2013-01-01

In [40]:
data_weather["province"].value_counts()

province
Bac Lieu            4549
Ho Chi Minh City    4549
Tam Ky              4549
Ben Tre             4549
Hoa Binh            4549
Tan An              4549
Bien Hoa            4549
Hong Gai            4549
Thai Nguyen         4549
Buon Me Thuot       4549
Hue                 4549
Thanh Hoa           4549
Ca Mau              4549
Long Xuyen          4549
Tra Vinh            4549
Cam Pha             4549
My Tho              4549
Tuy Hoa             4549
Cam Ranh            4549
Nam Dinh            4549
Uong Bi             4549
Can Tho             4549
Nha Trang           4549
Viet Tri            4549
Chau Doc            4549
Phan Rang           4549
Vinh                4549
Da Lat              4549
Phan Thiet          4549
Vinh Long           4549
Ha Noi              4549
Play Cu             4549
Vung Tau            4549
Hai Duong           4549
Qui Nhon            4549
Yen Bai             4549
Hai Phong           4549
Rach Gia            4549
Hanoi               4549
Soc Trang           4549
Name: count, dtype: int64

In [41]:
unique_provinces = data_weather["province"].unique()
num_provinces = len(unique_provinces)

print(f"Số lượng tỉnh có trong tập data_weather: {num_provinces}")
print("Danh sách các tỉnh có trong data_weather:")
print(list(unique_provinces))

Số lượng tỉnh có trong tập data_weather: 40
Danh sách các tỉnh có trong data_weather:
['Bac Lieu', 'Ho Chi Minh City', 'Tam Ky', 'Ben Tre', 'Hoa Binh', 'Tan An', 'Bien Hoa', 'Hong Gai', 'Thai Nguyen', 'Buon Me Thuot', 'Hue', 'Thanh Hoa', 'Ca Mau', 'Long Xuyen', 'Tra Vinh', 'Cam Pha', 'My Tho', 'Tuy Hoa', 'Cam Ranh', 'Nam Dinh', 'Uong Bi', 'Can Tho', 'Nha Trang', 'Viet Tri', 'Chau Doc', 'Phan Rang', 'Vinh', 'Da Lat', 'Phan Thiet', 'Vinh Long', 'Ha Noi', 'Play Cu', 'Vung Tau', 'Hai Duong', 'Qui Nhon', 'Yen Bai', 'Hai Phong', 'Rach Gia', 'Hanoi', 'Soc Trang']

In [42]:
province_mapping = {
    "Bac Lieu": "Bac Lieu",
    "Ho Chi Minh City": "Ho Chi Minh",
    "Tam Ky": "Quang Nam",
    "Ben Tre": "Ben Tre",
    "Hoa Binh": "Hoa Binh",
    "Tan An": "Long An",
    "Bien Hoa": "Dong Nai",
    "Hong Gai": "Quang Ninh",
    "Thai Nguyen": "Thai Nguyen",
    "Buon Me Thuot": "Dak Lak",
    "Hue": "Thua Thien Hue",
    "Thanh Hoa": "Thanh Hoa",
    "Ca Mau": "Ca Mau",
    "Long Xuyen": "An Giang",
    "Tra Vinh": "Tra Vinh",
    "Cam Pha": "Quang Ninh",
    "My Tho": "Tien Giang",
    "Tuy Hoa": "Phu Yen",
    "Cam Ranh": "Khanh Hoa",
    "Nam Dinh": "Nam Dinh",
    "Uong Bi": "Quang Ninh",
    "Can Tho": "Can Tho",
    "Nha Trang": "Khanh Hoa",
    "Viet Tri": "Phu Tho",
    "Chau Doc": "An Giang",
    "Phan Rang": "Ninh Thuan",
    "Vinh": "Nghe An",
    "Da Lat": "Lam Dong",
    "Phan Thiet": "Binh Thuan",
    "Vinh Long": "Vinh Long",
    "Ha Noi": "Ha Noi",
    "Play Cu": "Gia Lai",
    "Vung Tau": "Ba Ria - Vung Tau",
    "Hai Duong": "Hai Duong",
    "Qui Nhon": "Binh Dinh",
    "Yen Bai": "Yen Bai",
    "Hai Phong": "Hai Phong",
    "Rach Gia": "Kien Giang",
    "Hanoi": "Ha Noi",
    "Soc Trang": "Soc Trang"
}

In [43]:
data_weather["province"] = data_weather["province"].replace(province_mapping)

standardized_provinces = list(set(province_mapping.values()))
data_weather_needed = data_weather[data_weather["province"].isin(standardized_provinces)]

In [44]:
major_rice_provinces = ["An Giang", "Kien Giang", "Can Tho", "Soc Trang", "Vinh Long", "Tien Giang", 
                        "Long An", "Tra Vinh", "Bac Lieu", "Ca Mau", "Thanh Hoa", "Nam Dinh", "Nghe An", "Hai Duong"]

In [45]:
data = data_weather[data_weather["province"].isin(major_rice_provinces)]
data.head()

   province  max  min  wind wind_d  rain  humidi  cloud  pressure        date
0  Bac Lieu   27   22    17    NNE   6.9      90     71      1010  2009-01-01
1  Bac Lieu   31   25    20    ENE   0.0      64     24      1010  2010-01-01
2  Bac Lieu   29   24    14      E   0.0      75     45      1008  2011-01-01
3  Bac Lieu   30   24    30      E   0.0      79     52      1012  2012-01-01
4  Bac Lieu   31   25    20    ENE   0.0      70     24      1010  2013-01-01

In [46]:
data.duplicated().sum()

np.int64(0)

In [47]:
data.isna().sum()

province    0
max         0
min         0
wind        0
wind_d      0
rain        0
humidi      0
cloud       0
pressure    0
date        0
dtype: int64

In [48]:
data

,province,max,min,wind,wind_d,rain,humidi,cloud,pressure,date
0,Bac Lieu,27,22,17,NNE,6.9,90,71,1010,2009-01-01
1,Bac Lieu,31,25,20,ENE,0.0,64,24,1010,2010-01-01
2,Bac Lieu,29,24,14,E,0.0,75,45,1008,2011-01-01
3,Bac Lieu,30,24,30,E,0.0,79,52,1012,2012-01-01
4,Bac Lieu,31,25,20,ENE,0.0,70,24,1010,2013-01-01
...,...,...,...,...,...,...,...,...,...,...
181955,Soc Trang,28,23,8,SSW,0.0,75,50,1011,2016-12-28
181956,Soc Trang,30,24,21,ENE,7.2,81,50,1011,2017-12-28
181957,Soc Trang,26,24,9,ENE,1.3,91,75,1009,2018-12-28
181958,Soc Trang,30,23,11,E,0.0,74,6,1012,2019-12-28
181959,Soc Trang,29,24,9,ESE,0.7,84,43,1009,2020-12-28

In [49]:
cols = ['province', 'rain', 'min', 'max', 'humidi', 'wind', 'cloud', 'date']
impact_factor_data = data[cols]
impact_factor_data

         province  rain  min  max  humidi  wind  cloud        date
0        Bac Lieu   6.9   22   27      90    17     71  2009-01-01
1        Bac Lieu   0.0   25   31      64    20     24  2010-01-01
2        Bac Lieu   0.0   24   29      75    14     45  2011-01-01
3        Bac Lieu   0.0   24   30      79    30     52  2012-01-01
4        Bac Lieu   0.0   25   31      70    20     24  2013-01-01
...           ...   ...  ...  ...     ...   ...    ...         ...
181955  Soc Trang   0.0   23   28      75     8     50  2016-12-28
181956  Soc Trang   7.2   24   30      81    21     50  2017-12-28
181957  Soc Trang   1.3   24   26      91     9     75  2018-12-28
181958  Soc Trang   0.0   23   30      74    11      6  2019-12-28
181959  Soc Trang   0.7   24   29      84     9     43  2020-12-28

[68235 rows x 8 columns]

In [50]:
impact_factor_data.count()

province    68235
rain        68235
min         68235
max         68235
humidi      68235
wind        68235
cloud       68235
date        68235
dtype: int64

In [51]:
impact_factor_data.to_csv(r"D:\Đồ án\KLTN\Backend\data\clean_data\weather.csv", index=False, encoding="utf-8")